<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elait.pms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.elait.pms.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <uses-permission android:name="android.permission.READ_CONTACTS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.elait.pms.Display"></activity>
        <activity android:name="com.example.elait.pms.Search_activity"></activity>
        <activity android:name="com.example.elait.pms.Registration"></activity>
        <activity android:name="com.example.elait.pms.DataListViewActivity"></activity>
        <activity android:name="com.example.elait.pms.TabLayout_patient_Record"/>

          />


    </application>

</manifest>